{% extends 'components/layout.html' %}
{% include 'components/footer.html' %}

{% block content %}
<div class="container m-4">
    <div class="row">
        <form class="row" action="/letsbattle" method="POST">
            {{ form.hidden_tag() }}
            <div class="col-4">
                {{ form.pokemon1input(class="col-4 m-5 form-control form-control-lg", placeholder="Choose your Pokemon!") }}
            </div>
            <div class="col-4">
                {{ form.pokemon2input(class="col-4 m-5 form-control form-control-lg", placeholder="Opponent's Pokemon!") }}
            </div>
            <div class="col-4">
                {{ form.submit(class="col-4 m-5 btn btn-danger border form-control form-control-lg")}}
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block leftcol %} 
<div class="bg-white m-5 text-primary">
    <div class="m-5">
        <p></p>
        
    </div>
    
</div>
{% endblock leftcol %} 

{% block rightcol %} 
<div class="bg-white m-5 text-danger">
    <div class="m-5">
        <p>Hello pokeWorld!!</p>
    </div>
    
</div>
{% endblock rightcol %} 